<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lockerassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/PHA_Theme_DarkForest">
        <activity
            android:name="com.activity_lockassist_main"
            android:label="@string/app_name"
            android:theme="@style/PHA_Theme_DarkForest.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pha_dev.activity_devDbEntryEdit"
            android:label="@string/dev_db_label"
            android:parentActivityName="com.pha_dev.activity_devDbList"
            android:theme="@style/PHA_Theme_DarkForest.NoActionBar">
        </activity>
        <activity
            android:name="com.pha_dev.activity_devDbList"
            android:label="@string/dev_db_label"
            android:parentActivityName="com.activity_lockassist_main"
            android:theme="@style/PHA_Theme_DarkForest.NoActionBar">
        </activity>
    </application>

</manifest>